//
   Created by YANGWI on 7/23/2015.


div.container-fluid
    div.row
        nav.navbar.navbar-default.col-md-offset-1.col-md-10
            div.container-fluid
                div.navbar-header
                    a.navbar-brand(href='#') Title