

script(src='/login/login.client.module.js')
script(src='/login/controllers/login.client.controller.js')
script(src='/login/config/login.client.routes.js')

script(src='/user/user.client.module.js')
script(src='/user/controllers/user.client.controller.js')
script(src='/user/config/user.client.routes.js')
script(src='/user/service/user.client.service.js')

script(src='/main/main.client.module.js')
script(src='/main/controllers/mainPage.client.controller.js')
script(src='/main/config/mainPage.client.routes.js')
//script(src='/user/service/user.client.service.js')

script(src='/core/app.js')